*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-color: #ffffff;
}


.container{
    width: 1200px;
    margin: 0 auto;
    background-color: ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Список цветов в линейку */
.color-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    gap: 10px;
}

/* Кружочки цветов */
.color-circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #000;
    transition: transform 0.1s;
}
.color-circle:hover {
    transform: scale(1.1);
}

/* Инструменты в линейку */
.tools-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    gap: 15px;
}
.tools-list label {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row-reverse; /* Чтобы кружочек радио был справа от текста, как на скрине */
}

/* Стилизация холста */
#drawing-board {
    border: 2px solid #2b3a8f;
    border-radius: 15px;
    background-color: #fff;
    cursor: crosshair;
}

/* Кнопки внизу */
.buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}
.btn {
    background-color: #a3e6a3;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    background-color: #8cd78c;
}