*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas{
    border: 2px solid blue;
    border-radius: 15px;
}

.color-list, .tools-list{
    list-style: none;
    display: flex;
    column-gap: 5px;
}

.color-list-item{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid;
    transition: 0.5s;
}


.color-list-item:hover{
    transform: scale(1.3);
}

.btn{
    padding: 5px 10px;
    font-size: 23px;
    border: 2px solid;
    border-radius: 15px;
    background-color: lightgreen;
}



.buttuns{
    display: flex;
    column-gap: 20px;
}

